.home-wrapper .banner{
    width: 100%;
    height: 30vh;
    background: url('/public/banner.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-wrapper .banner h1{
    text-align: start;
    position: relative;
    bottom: -190px;
    padding-left: 25px;
    color: #F8F9FB;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
}

.home-wrapper{
    background-color: #EBEDEC;
}