.product{
    background-color: white;
    padding: 15px;
}

.product .product-image{
    width: 200px;
    height: 200px;
}

.product .product-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}